#directories
.vs/
bin/
bin-int/
x64/
*.vsidx
*.lock
*.db
*.db-shm
*.db-wal
*.opendb
*.sqlite
src/EopGuiMaker/Events/MouseEvent.h
src/EopGuiMaker/Events/KeyEvent.h
src/EopGuiMaker/Events/ApplicationEvent.h
src/EopGuiMaker/Creator/UserWindow.h
src/EopGuiMaker/Creator/UserWindow.cpp
